<div id="damContextMenuTemplateContainer" class="contextMenuRoot">
    <ul class="vertex contextMenu">
      <li class="Vertex delete">Delete Vertex</li>
      <li class="Vertex duplicate">Duplicate Vertex</li>
      <li class="m1hide Vertex extend">Extend</li>
      <li class="Feature delete">Delete Feature</li>
      <li class="Feature duplicate">Duplicate Feature</li>
      <li class="separator"></li>
      <li class="Vertex up">Push vertex Up (Z-order)</li>
      <li class="Vertex down">Push vertex Down (Z-order)</li>
      <li class="Feature up">Move feature Up</li>
      <li class="Feature down">Move feature Down</li>
    </ul>
    <ul class="extedge contextMenu">
      <li class="edge delete">Delete generalization</li>
      <li class="edge change">Edit generalization</li>
    </ul>
    <ul class="edge contextMenu">
      <li class="edge delete">Delete reference</li>
      <li class="edge change">Edit reference</li>
    </ul>
</div>
