<div id="damContextMenuTemplateContainer">
  <div id="M_GraphContextMenu" class="contextMenuRoot">hello_mg</div>
  <div id="MM_GraphContextMenu" class="contextMenuRoot">hello_mmg</div>
  <div id="M_VertexContextMenu" class="contextMenuRoot">hello_mv</div>
  <div id="MM_VertexContextMenu" class="contextMenuRoot">
    <ul class="contextMenu">
      <li class="Vertex delete">Delete Vertex</li>
      <li class="Vertex duplicate">Duplicate Vertex</li>
      <li class="Vertex minimize">Minimize</li>
      <li class="Feature delete">Delete Feature</li>
      <li class="Feature duplicate">Duplicate Feature</li>
      <li class="separator Vertex Feature"></li>
      <li class="Vertex editStyle">Edit vertex style</li>
      <li class="Vertex up">Push vertex Up (Z-order)</li>
      <li class="Vertex down">Push vertex Down (Z-order)</li>
      <li class="Feature editStyle">Edit feature style</li>
      <li class="Feature up">Move feature Up</li>
      <li class="Feature down">Move feature Down</li>
    </ul>
  </div>
  <div id="M_EdgeContextMenu" class="contextMenuRoot">hello_me</div>
  <div id="MM_EdgeContextMenu" class="contextMenuRoot">hello_mme</div>
</div>
