<!--<br><br><br><br><br><br><br><br><br><br><br><br><br><br><p>app--root</p>
<app-graph-tab-html></app-graph-tab-html>
<div id = 'topbarShell'><div id = 'topbar'></div></div>
< !--<div id = 'sidebarResizer' draggable="false"></div> -- >
<div id = 'editorTabContainer' class="tabContainer">
  <ul class="tablist tabButton_container" data-allowmultitab="false">
    <li class="tabButton" data-tabselector=".tab_mm" data-tabselected="true">
      meta-model
    </li>
    <li class="tabButton" data-tabselector=".tab_m" data-tabselected="false">
      model
    </li>get
  </ul>
</div>
<div id="sidebarShell">
  <div id='metamodel_sidebar' class='tab_mm'></div>
  <div id='model_sidebar' class='tab_m'></div>
</div>
<div id="editorShell">
  <div id='metamodel_editor' class='tab_mm'></div>
  <div id='metamodel_navigatorOutlineContainer' class='tab_mm'></div>
  <div id='model_editor' class='tab_m'></div>
  <div id='model_navigatorOutlineContainer' class='tab_m'></div>
</div>
<div id="property_sidebar"></div>
< !-- <?php echo $hiddenInput; ?> -- >


< !-- importante: Nel svg non settare height="somepx"; perchè la mantiene sempre fissa e perde le proporzioni con width che si adatta.
 se non lo inserisci si adatta da se. -- >


<div class="HiddenStructures">
  <div id='attributeEditor' class='attributeEditor CB1'
       data-closeButtonAction='hide' data-closeButtonAnimation='hide' data-closeButtonAnimationArg='500'
       onmousedown="FollowMouse.add(this, -event.layerX, -event.layerY, 0, 0, document.body);"
       onmouseup="FollowMouse.remove(this);">

    <h6 class="attributeEditorTitle">
      Attribute editor for <span class="fullClassPlaceholder">Package.Class</span>
      <button class="vertexModelDetail btn btn-info" onClick="showVertexModelDetail.call(this)">?</button>
    </h6>
    <table class='attributeTable table table-sm table-hover'>
      <tr><th>Type</th><th>Name</th><th>Value</th><th>?</th></tr>
      < !-- fieldlist -- >
    </table>
    <button class="attributeEditorConfirm btn btn-primary closeButton"
            onmousedown="event.stopPropagation();"
            onclick="hu.closeButtonClick.call(this);"
            data-closeButtonSelector=".CB1" data-closeButtonOnlyParents="1">Confirm</button>
  </div>

  <div id='styleEditorVertex' class='styleEditor CB2'
       data-closeButtonAction='hide' data-closeButtonAnimation='hide' data-closeButtonAnimationArg='500'
       onmousedown="FollowMouse.add(this, -event.layerX, -event.layerY, 0, 0, document.body);"
       onmouseup="FollowMouse.remove(this);">

    <h6 class="styleEditorTitle">
      style editor for <span class="fullClassPlaceholder">Package.Class</span>
      <button class="vertexModelDetail btn btn-info" onClick="showVertexModelDetail.call(this)">?</button>
    </h6>
    <div class="tabContainer">
      <ul class="tablist tabButton_container" data-allowmultitab="false">
        <li class="tabButton" data-tabselector=".tab_gv" data-tabselected="true">
          Graph
        </li>
        <li class="tabButton" data-tabselector=".tab_sv" data-tabselected="false">
          Sidebar
        </li>
      </ul>
    </div>
    <div class="edgeRow tab_gv">
      <label>Display as Edge<input type="checkbox" class="isCompoundEdge"></label>
      <span class="styleCompoundWrapper">
                <div>Start Vertex</div>
                <select class="compoundEdgeStart"></select>
            </span>
      <span class="styleCompoundWrapper">
                <div class>End Vertex</div>
                <select class="compoundEdgeEnd"></select>
            </span>
    </div>
    <table class='styleTable table table-sm table-hover tab_gv'>
      <tr><th></th><th>Input Html Text</th><th>Output Preview</th></tr>
      <tr><th>Vertex</th>
        <td><textarea onchange="styleEditorChanged.call(this, '')" data-name="" onmousedown="event.stopPropagation(); return null;">......</textarea></td>
        <td><div class="StyleHtmlOutput"></div></td>
      </tr>
      <tr><th>Attribute</th>
        <td><textarea onchange="styleEditorChanged.call(this, '')" data-name="attribute" placeholder="Not displayed" onmousedown="event.stopPropagation(); return null;"></textarea></td>
        <td><div class="StyleHtmlOutput"></div></td>
      </tr>
      <tr><th>Reference</th>
        <td><textarea onchange="styleEditorChanged.call(this, '')" data-name="reference" placeholder="Not displayed" onmousedown="event.stopPropagation(); return null;"></textarea></td>
        <td><div class="StyleHtmlOutput"></div></td>
      </tr>
      < !-- fieldlist -- >
    </table>
    <table class='styleTable table table-sm table-hover tab_sv'>
      <tr><th></th><th>Input Html Text</th><th>Output Preview</th></tr>
      <tr><th>Vertex</th>
        <td><textarea onchange="styleEditorChanged.call(this, '')" data-name="" onmousedown="event.stopPropagation(); return null;">......</textarea></td>
        <td><div class="StyleHtmlOutput"></div></td>
      </tr>
      <tr><th>Attribute</th>
        <td><textarea onchange="styleEditorChanged.call(this, '')" data-name="attribute" placeholder="Not displayed" onmousedown="event.stopPropagation(); return null;"></textarea></td>
        <td><div class="StyleHtmlOutput"></div></td>
      </tr>
      <tr><th>Reference</th>
        <td><textarea onchange="styleEditorChanged.call(this, '')" data-name="reference" placeholder="Not displayed" onmousedown="event.stopPropagation(); return null;"></textarea></td>
        <td><div class="StyleHtmlOutput"></div></td>
      </tr>
      < !-- fieldlist -- >
    </table>
    <button class="styleEditorConfirm btn btn-primary closeButton"
            onmousedown="event.stopPropagation();"
            onclick="hu.closeButtonClick.call(this);"
            data-closeButtonSelector=".CB2" data-closeButtonOnlyParents="1">Confirm</button>
  </div>
  <div class="styles">
    <svg id="defaultgraphHtmlVertex" viewBox = "0 0 200 100" width="200px" style="width:100%; height:100%;">
      <rect x="0" y="0" width="200" height="100" fill="white" stroke="black" stroke-width="3"></rect>
      <text x="50%" y="50%" class='centeredText'>$##static.metamodel.modelObj.@name$_$##id$</text>
    </svg>
    <svg id='defaultsidebarHtmlVertex' viewBox="0 0 200 100" width="200px">
      <ellipse stroke="black" stroke-width="3" fill="white" cx="100" cy="50" rx="98.5" ry="48.5"></ellipse>
      <text y="53.5" x="10" class='centeredText'>$##static.metamodel.fullname$</text>
    </svg>
    <svg id="defaultgraphHtmlAttribute" viewBox = "0 0 200 100" width="200px" style="width:100%; height:100%;">
      <rect x="0" y="0" width="200" height="100" fill="white" stroke="black" stroke-width="3"></rect>
      <text x="5" y="50%">$##static.childrens[i].metamodel.type$ $##name$: $##value$</text>
    </svg>
    <svg id="defaultsidebarHtmlAttribute" viewBox = "0 0 200 100" width="200px" >
      <rect x="0" y="0" width="200" height="100" fill="white" stroke="black" stroke-width="3"></rect>
      <text x="5" y="50%">$##static.childrens[i].metamodel.type$ $##name$</text>
    </svg>
    <svg id="defaultgraphHtmlReference" viewBox = "0 0 200 100" width="200px" style="width:100%; height:100%;">
      <rect x="0" y="0" width="200" height="100" fill="white" stroke="black" stroke-width="3"></rect>
      <text x="5" y="50%">Reference<$##static.metamodel.type$> $##static.metamodel.name$: $##static.metamodel.target.metadata.name$</text>
    </svg>
    <svg id="defaultsidebarHtmlReference" viewBox = "0 0 200 100" width="200px" >
      <rect x="0" y="0" width="200" height="100" fill="white" stroke="black" stroke-width="3"></rect>
      <text x="5" y="50%">Reference<$##static.metamodel.type$> $##static.metamodel.name$</text>
    </svg>
  </div>
  <div id="servermode" dataset-local="<?php $localserver ?>"></div>
</div>
-->
