<div class="verticalFillingContainer">
  <div class="verticalFiller horizontalFillingContainer">
    <div class="sidebarShell resizableBorder" data-resizableRight="true">
    <div id='metamodel_sidebar'></div>
  </div>
    <div class="editorShell horizontalFiller">
    <svg class="graph" id='metamodel_editor'>
      <g class="gridContainer">
        <defs>
          <pattern id="smallGrid" width="10" height="10" patternUnits="userSpaceOnUse">
            <path d="M 10 0 L 0 0 0 10" fill="none" stroke="gray" stroke-width="0.5"/>
          </pattern>
          <pattern id="grid" width="100" height="100" patternUnits="userSpaceOnUse">
            <rect width="100" height="100" fill="url(#smallGrid)"/>
            <path d="M 100 0 L 0 0 0 100" fill="none" stroke="gray" stroke-width="1"/>
          </pattern>
        </defs>
        <rect class="grid" width="100%" height="100%" fill="url(#grid)" />
      </g>
    </svg>
    <div id='metamodel_navigatorOutlineContainer'></div>
  </div>
    <div class="UtabContainer propertyBarContainer resizableBorder" data-resizableLeft="true" data-selectedTab="2">
    <ul class="UtabHeaderContainer">
      <li class="UtabHeader" data-target="1">Style</li>
      <li class="UtabHeader" data-target="2">Structured</li>
      <li class="UtabHeader" data-target="3">Raw</li>
    </ul>
    <div class="UtabContentContainer">
      <div class="UtabContent" data-target="1"><app-style-editor></app-style-editor></div>
      <div class="UtabContent" data-target="2"><app-property-barr></app-property-barr></div>
      <div class="UtabContent" data-target="3">
        <div class="rawContainer">
          <h2 class="rawTitle">Raw eCore fragment</h2>
          <textarea class="rawecore"></textarea>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="mmconsole resizableBorder" data-resizableTop="true"></div>
  <div class="MMDefaultStyles customized"></div>
  <div class="MMDefaultStyles immutable">
    <!-- <foreignObject class="Template Class" x="0" y="0" width="200" height="100"> -->
    <test></test>
      <div class="Template Class Vertex vertexShell" style="height:auto; width:100%; overflow: auto;" data-autosize="1">
        <div class="VertexHeader" style="height:20px; width:100%; text-align:center; display:flex;">
          <input value="$##name$" placeholder="Object name" pattern="[A-Za-z0-9_$$]+" style="text-align:right; order:1; flex-grow:1; flex-shrink:1; flex-basis:10px; min-width:10px; color:black; border:none; padding-right:4px;">
          <div style="text-align:left; order:2; flex-grow:1; flex-shrink:1; flex-basis:10px; color:red; margin:auto; padding-left:4px;">(Class)</div>
          <div class="VertexMinimize" style="width:8px; height:8px; right:2px; top:2px; background-Color: red; position:absolute;">-</div>
        </div>
        <div class="AttributeContainer" style="display: flex; border-top: 1px solid black; flex-direction: column;"></div>
        <div class="ReferenceContainer" style="display: flex; border-top: 1px solid black; flex-direction: column;"></div>
        <div class="addFieldButtonContainer" style="display: flex; height: 20px; width: 100%; text-align: center;">
          <span style="display:flex; margin:auto;">Add&nbsp;</span>
          <select class="AddFieldSelect" style="display:flex; margin:auto;">
            <optgroup label="FeatureType">
              <option value="Attribute" selected="">Attribute</option>
              <option value="Reference">Reference</option>
            </optgroup>
          </select>
          <span style="display:flex; margin:auto;">&nbsp;field</span>
          <button>Go</button>
        </div>
      </div>
    <!-- </foreignObject> -->
    <test></test>
    <div class="Template Reference" style="height: 22px; width: 100%; border-bottom: 1px solid lightgray; display:flex; box-sizing:content-box;">
      <select class="ClassSelector" style="display:flex; order:3; flex-grow:0; flex-shrink:1;"></select>
      <input type="text" placeholder="Reference Name" pattern="[A-Za-z0-9_$$]+" value="$##name$" style="order: 1; flex-basis:10px; flex-grow:2; flex-shrink:2; min-width:3px;">
    </div>

    <div class="Template Attribute EString EInteger" style="height:22px; width:100%; border-bottom:1px solid lightgray; display:flex; box-sizing:content-box;">
      <select class="TypeSelector" style="display:flex; order:2; flex-grow:2; flex-shrink:2; flex-basis:3px; min-width:3px; text-align: right;"></select>
      <input type="text" placeholder="Attribute Name" pattern="[A-Za-z0-9_$$]+" value="$##name$" style="display: flex; order: 1; flex-basis:10px; flex-grow:3; flex-shrink:3; min-width:3px;">
    </div>

  </div>
</div>
