
<div class="styleContainer">
  <div class="StyleEditorDisplay">

  </div>
  <div class="styleTemplates styleEditor">
    <div class="Template model">
      <table><tbody>
        <tr>
        <td>Grid</td>
          <td>X: <input type="number" class="gridX" min="0" step="1" placeholder="off"> Y: <input type="number" class="gridY" min="0" step="1"  placeholder="off"></td>
        </tr>
        <tr>
          <td>Zoom</td>
          <td>X: <input type="number" class="zoomX" min="0" step="0.01" placeholder="1"> Y: <input type="number" class="zoomY" min="0" step="0.01" placeholder="1"></td>
        </tr>
        <tr><td colspan="2"><label><input type="checkbox" class="showGrid">Show grid</label></td></tr>
        <tr><td colspan="2"><label><input type="color" class="graphColor">Background color</label></td></tr>
        </tbody></table>
      </div>

    <div class="Template vertex classe">
      <label>
        <input type="checkbox" class="showAsEdge">
        <span class="showAsEdgeText">#####</span>
      </label>

      <div class="separatorShell top">
        <h2 class="vertexStyle separator">Own Html:</h2>
        <button class="helpButton vertex" matTooltip="todo: explain .EndPoint, .TypeSelector, .ClassSelector...">?</button>
      </div>
      <div contenteditable="true" class="vertexStyle own html" placeholder="Html of $##name$ (m2 class)."></div>
      <div class="separatorShell">
        <h2 class="vertexStyle separator">Preview:</h2>
        <button class="helpButton vertex" matTooltip="todo: explain .EndPoint, .TypeSelector, .ClassSelector...">?</button>
      </div>
      <div class="vertexStyle own preview"></div>

      <div class="separatorShell top">
        <h2 class="vertexStyle separator">Instances Html:</h2>
        <button class="helpButton vertex" matTooltip="todo: explain .EndPoint, .TypeSelector, .ClassSelector...">?</button>
      </div>
      <div contenteditable="true" class="vertexStyle instances html" placeholder="Html for instances of $##name$ (m1 class)."></div>
      <div class="separatorShell">
        <h2 class="vertexStyle separator">Preview:</h2>
        <button class="helpButton vertex" matTooltip="todo: explain .EndPoint, .TypeSelector, .ClassSelector...">?</button>
      </div>
      <div class="vertexStyle instances preview"></div>
    </div>

    <div class="Template attribute">
      <div class="separatorShell top">
        <h2 class="attributeStyle separator">Own Html:</h2>
        <button class="helpButton field" matTooltip="todo: explain .EndPoint, .TypeSelector, .ClassSelector...">?</button>
      </div>
      <div contenteditable="true" class="attributeStyle own html" placeholder="Html of $##name$ (m2 attribute)."></div>
      <div class="separatorShell">
        <h2 class="attributeStyle separator">Preview:</h2>
        <button class="helpButton field" matTooltip="todo: explain .EndPoint, .TypeSelector, .ClassSelector...">?</button>
      </div>
      <div class="attributeStyle own preview"></div>

      <div class="separatorShell top">
        <h2 class="attributeStyle separator">Instances Html:</h2>
        <button class="helpButton field" matTooltip="todo: explain .EndPoint, .TypeSelector, .ClassSelector...">?</button>
      </div>
      <div contenteditable="true" class="attributeStyle instances html" placeholder="Html for instances of $##name$ (m1 attribute)."></div>
      <div class="separatorShell">
        <h2 class="attributeStyle separator">Preview:</h2>
        <button class="helpButton field" matTooltip="todo: explain .EndPoint, .TypeSelector, .ClassSelector...">?</button>
      </div>
      <div class="attributeStyle instances preview"></div>
    </div>

    <div class="Template reference">
      <div class="separatorShell top">
        <h2 class="referenceStyle separator">Html:</h2>
        <button class="helpButton reference" matTooltip="todo: explain .EndPoint, .TypeSelector, .ClassSelector...">?</button>
      </div>
      <div contenteditable="true" class="referenceStyle html" placeholder="Html of field (reference). Not filled means invisible."></div>
      <div class="separatorShell">
        <h2 class="referenceStyle separator">Preview:</h2>
        <button class="helpButton reference" matTooltip="todo: explain .EndPoint, .TypeSelector, .ClassSelector...">?</button>
      </div>
      <div class="referenceStyle preview"></div>
    </div>
    <div class="Template edge">
      <h1>Edge style</h1>
      <table><tbody>
      <tr>
        <td>Style</td>
        <td><select class="edgeStyle"><optgroup label="Edge style">
          <option value="straight" title="./img/icons/edge/straight.jpg">Straight</option>
          <option value="angular23Auto" title="./img/icons/edge/angular23.jpg">Angulated (auto)</option>
          <option value="angular2" title="./img/icons/edge/angular2.jpg">Angulated (2)</option>
          <option value="angular3" title="./img/icons/edge/angular3.jpg">Angulated (3)</option>
        </optgroup></select></td>
      </tr>
      <tr><td colspan="2" class="title">On normal status</td></tr>
      <tr>
        <td>Color</td>
        <td><input type="color" class="edgeColor common"></td>
      </tr>
      <tr>
        <td>Width</td>
        <td><input type="number" class="edgeWidth common" min="0" step="0.1" placeholder="0"></td>
      </tr>
      <tr><td colspan="2" class="title">On highlight preview</td></tr>
      <tr>
        <td>Color</td>
        <td><input type="color" class="edgeColor highlight"></td>
      </tr>
      <tr>
        <td>Width</td>
        <td><input type="number" class="edgeWidth highlight" min="0" step="0.1" placeholder="0"></td>
      </tr>
      <tr><td colspan="2" class="title">On selection</td></tr>
      <tr>
        <td>Color</td>
        <td><input type="color" class="edgeColor selected"></td>
      </tr>
      <tr>
        <td>Width</td>
        <td><input type="number" class="edgeWidth selected" min="0" step="0.1" placeholder="0"></td>
      </tr>
    </tbody></table>
      <h1>EdgePoint style</h1>
      <table><tbody>
      <tr><td colspan="2" class="title">On normal status</td></tr>
      <tr>
        <td>Radius</td>
        <td><input type="number" class="edgePoint radius" min="0" step="0.1" placeholder="0"></td>
      </tr>
      <tr>
        <td>Border Width</td>
        <td><input type="number" class="edgePoint strokeW" min="0" step="0.1" placeholder="0"></td>
      </tr>
      <tr>
        <td>Border Color</td>
        <td><input type="color" class="edgePoint stroke"></td>
      </tr>
      <tr>
        <td>Fill Color</td>
        <td><input type="color" class="edgePoint fill"></td>
      </tr>
      <tr><td colspan="2" class="title">On bounding preview</td></tr>
      <tr>
        <td>Radius</td>
        <td><input type="number" class="edgePointPreview radius" min="0" step="0.1" placeholder="0"></td>
      </tr>
      <tr>
        <td>Border Width</td>
        <td><input type="number" class="edgePointPreview strokeW" min="0" step="0.1" placeholder="0"></td>
      </tr>
      <tr>
        <td>Border Color</td>
        <td><input type="color" class="edgePointPreview stroke"></td>
      </tr>
      <tr>
        <td>Fill Color</td>
        <td><input type="color" class="edgePointPreview fill"></td>
      </tr>
      <tr><td colspan="2" class="title">While moving</td></tr>
      <tr>
        <td>Radius</td>
        <td><input type="number" class="edgePointSelected radius" min="0" step="0.1" placeholder="0"></td>
      </tr>
      <tr>
        <td>Border Width</td>
        <td><input type="number" class="edgePointSelected strokeW" min="0" step="0.1" placeholder="0"></td>
      </tr>
      <tr>
        <td>Border Color</td>
        <td><input type="color" class="edgePointSelected stroke"></td>
      </tr>
      <tr>
        <td>Fill Color</td>
        <td><input type="color" class="edgePointSelected fill"></td>
      </tr>
      </tbody></table>
      <div contenteditable="true" class="edgeStyle label html" placeholder="Label of link. Not filled means without label."></div>
      <div class="separatorShell">
        <h2 class="edgeStyle separator">Preview:</h2>
        <button class="helpButton edgeLabel" matTooltip="todo: explain .EndPoint, .TypeSelector, .ClassSelector...">?</button>
      </div>
      <div class="edgeStyle preview"></div>
    </div>
  </div>
</div>
